<div class="face-snap-card" [ngClass]="{ 'snapped':  userLiked}">
    <h2>{{ faceSnap.title | titlecase }}</h2>
    <a routerLink="/facesnaps">BACK</a>
    @if (faceSnap.location) {
        <p>Localisation: {{ faceSnap.location }}</p>
    } @else {
        <p>Localisation non spécifiée</p>
    }
    <p>FaceSnap créée le {{ faceSnap.createdAt | date: 'd MMMM yyyy, à HH:mm' }}</p>
    <img [src]="faceSnap.imageUrl" [alt]="faceSnap.title">
    <p>{{ faceSnap.description }}</p>
    <p>
        <button (click)="onLike()">{{ likedButtonText }}</button>
        <span [ngStyle]="{ color: 'rgb(0, ' + faceSnap.likes + ', 0)' }">👍 {{ faceSnap.likes }}</span>
    </p>
</div>